.filme-info {
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
    background-color: #1c1c1c; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  }
  
  .filme-info h1,
  .filme-info h3 {
    margin: 14px 0;
    color: #ffeb3b; 
  }
  
  .filme-info img {
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
  }
  
  .filme-info span {
    margin: 8px 0;
    color: #e0e0e0; 
  }

.area-buttons button {
    margin: 14px 12px 0 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.area-buttons a {
    text-decoration: none;
    color: #000;
    transition: all 0.5s;
}

.area-buttons button:hover, .area-buttons a:hover {
    background-color: orange;
    color: #fff;
}



