.filmes-home {
  text-decoration: none;
  cursor: pointer;
  background-color: #1c1c1c;
  padding: 5px 14px;
  color: #ffeb3b;
  border-radius: 4px;
  padding: 40px;
  text-align: center;
}

.filmes-home-lista {
    max-width: 1000px; 
    margin: 36px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

